html{
text-align: center;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
background-image: url("laptop.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border: 0;
}
body{
text-align: center;
}
footer{

}
header{
color: White;
}
img{
  height: 100px;
   width: 80px;
}
