#mySidenav a {
  font-family: 'Arimo', sans-serif;
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}


#about {
  top: 20px;
  background-color: Black;
}

#blog {
  top: 80px;
  background-color: Black;
}

#projects {
  top: 140px;
  background-color: Black;
}

#contact {
  top: 200px;
  background-color: Black;
}

h1{
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  margin: 0;
}

html{
  height: 100%
}

body{
  overflow: hidden;
  height: 100%
}
