/* html{
  background-image: url("../images/code.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0;
  } */
  .projec{
    margin:auto;
    width: 60%;
    border: 0;
  }
h1{
  color: white;
  font-size: 60px;
}
